$avatar-404: #bfbfbf;
$avatar-accent: #005ac4;
$blue-main: #021829;
$card-bg: rgba(2, 24, 41, 0.5);
$card-border: rgba(255, 255, 255, 0.1);
$card-hover: #021829;
$dark: #021829;
$disabled-action: #192d3a;
$down: #c21c36;
$ghost-btn-border: rgba(255, 255, 255, 0.5);
$ghost-btn-bg: rgba(255, 255, 255, 0.05);
$preview-datum: #546979;
$white: #ffffff;
$good-trend: #7ed321;
$bad-trend: #c21c36;
$neutral-trend: #4a90e2;
$selected-action: #546979;
$total-reporting-green: #7ed321;
$total-reporting-yellow: #ffba00;
$total-reporting-red: #c21c36;
$custom-app-color-body-links-active-visited: #353434;
$custom-app-color-body-links-hover: #f44336;
$custom-app-color-main-links-link: #0000ff;
$custom-app-color-main-links-active: #0000ff;
$custom-app-color-main-links-visited: #0000ff;
$custom-app-color-main-links-link-active-visited: #0000ff;
$custom-app-color-main-links-hover: #0080ff;
$custom-app-color-default-text: #000000;
$custom-app-color-whitesmoke: whitesmoke;
$custom-app-color-white: #ffffff;
$custom-app-color-black: #000000;
$custom-app-color-body-background-main: #ffffff;
$custom-app-color-heading-background-main: #f44336;
$custom-app-color-heading-background-secondary: #ef5350;
$custom-app-color-header-background: #353434;
$custom-app-color-footer-background: #353434;
$custom-app-color-alert-debug: #000000;
$custom-app-color-alert-info: #000000;
$custom-app-color-alert-critical: #f1610d;
$custom-app-color-alert-error: #f88d4f;
$custom-app-color-alert-fatal: #f86814;
$custom-app-color-alert-warning: #ff843c;
$custom-app-color-alert-success: #4de028;
$custom-app-color-action-assign: #98fb98;
$custom-app-color-action-attach-file: #d3d3d3;
$custom-app-color-action-create: #4de028;
$custom-app-color-action-view: #1e90ff;
$custom-app-color-action-change: #ff8c00;
$custom-app-color-action-edit: #ff8c00;
$custom-app-color-action-update: #ff8c00;
$custom-app-color-action-delete: #ff4500;
$custom-app-color-action-clone: #add8e6;
$custom-app-color-action-copy: #add8e6;
$custom-app-color-action-comment: #4169e1;
$custom-app-color-action-log-work: #2f4f4f;
$custom-app-color-action-review: #9370db;
$custom-app-color-action-progress: #228b22;
$custom-app-color-calendareventtype: #191970;
$custom-app-color-calendareventtype-action-review: #ff8c00;
$custom-app-color-calendareventtype-board: #a52a2a;
$custom-app-color-calendareventtype-broadcast: #bc8f8f;
$custom-app-color-calendareventtype-community-of-practice: #ffdead;
$custom-app-color-calendareventtype-consultation: #daa520;
$custom-app-color-calendareventtype-decision-making: #006400;
$custom-app-color-calendareventtype-governance: #a52a2a;
$custom-app-color-calendareventtype-idea-generation: #ffa500;
$custom-app-color-calendareventtype-interview: #32cd32;
$custom-app-color-calendareventtype-introductions: #ff4500;
$custom-app-color-calendareventtype-issue-resolution: #4682b4;
$custom-app-color-calendareventtype-one-on-one: #2f4f4f;
$custom-app-color-calendareventtype-planning: #32cd32;
$custom-app-color-calendareventtype-problem-solving: #ff0000;
$custom-app-color-calendareventtype-progress-check: #ff6347;
$custom-app-color-calendareventtype-sensemaking: #ff8c00;
$custom-app-color-calendareventtype-site-visit: #add8e6;
$custom-app-color-calendareventtype-team-cadence: #2e8b57;
$custom-app-color-calendareventtype-training: #66cdaa;
$custom-app-color-calendareventtype-workshop: #00008b;
$custom-app-color-usertype-admin: #f86814;
$custom-app-color-usertype-client: #b8860b;
$custom-app-color-usertype-employee: #1e90ff;
$custom-app-color-usertype-general: #ffbf00;
$custom-app-color-usertype-root: #33cc33;
$custom-app-color-usertype-supplier: #4000ff;
$custom-app-color-tasktype-advertising: #0080ff;
$custom-app-color-tasktype-bug: #ff0000;
$custom-app-color-tasktype-change: #ffbf00;
$custom-app-color-tasktype-consultation: #b0e0e6;
$custom-app-color-tasktype-deployment: #00ffbf;
$custom-app-color-tasktype-design: #bfff00;
$custom-app-color-tasktype-development: #0040ff;
$custom-app-color-tasktype-incident: #ff8000;
$custom-app-color-tasktype-marketing: #4000ff;
$custom-app-color-tasktype-monitor: #00ff80;
$custom-app-color-tasktype-planning: #0056b3;
$custom-app-color-tasktype-problem: red;
$custom-app-color-tasktype-reporting: #8000ff;
$custom-app-color-tasktype-research: #4000ff;
$custom-app-color-tasktype-sales: #daa520;
$custom-app-color-tasktype-service-request: #20b2aa;
$custom-app-color-tasktype-support: #00ff00;
$custom-app-color-tasktype-training: #ff8c00;
$custom-app-color-priority-blocked: red;
$custom-app-color-priority-blocker: red;
$custom-app-color-priority-critical: red;
$custom-app-color-priority-dependency: #ff4500;
$custom-app-color-priority-done: #00ff00;
$custom-app-color-priority-high: red;
$custom-app-color-priority-highest: red;
$custom-app-color-priority-low: #3396ff;
$custom-app-color-priority-lowest: #007bff;
$custom-app-color-priority-major: red;
$custom-app-color-priority-medium: #ff8000;
$custom-app-color-priority-minor: #ffbf00;
$custom-app-color-priority-normal: #4682b4;
$custom-app-color-priority-trivial: #00bfff;
$custom-app-color-status-blocked: red;
$custom-app-color-status-cancelled: #ff4000;
$custom-app-color-status-completed: #32cd32;
$custom-app-color-status-created: #708090;
$custom-app-color-status-de-scoped: #00ffbf;
$custom-app-color-status-done: #008000;
$custom-app-color-status-in-progress: #0080ff;
$custom-app-color-status-not-started: #99caff;
$custom-app-color-status-on-hold: #ff8000;
$custom-app-color-status-re-started: #004a99;
$custom-app-color-status-started: #80ff00;
$custom-app-color-black: #000000;
$custom-app-color-red: #ff0000;
$custom-app-color-crimson: #dc143c;
$custom-app-color-fire-brick: #b22222;
$custom-app-color-dark-red: #8b0000;
$custom-app-color-tomato: #ff6347;
$custom-app-color-orange-red: #ff4500;
$custom-app-color-dark-orange: #ff8c00;
$custom-app-color-orange: #ffa500;
$custom-app-color-green-yellow: #adff2f;
$custom-app-color-lime: #00ff00;
$custom-app-color-lime-green: #32cd32;
$custom-app-color-green: #008000;
$custom-app-color-dark-green: #006400;
$custom-app-color-maroon: #800000;
$custom-app-color-gainsboro: #dcdcdc;
$custom-app-color-light-gray: #d3d3d3;
$custom-app-color-light-grey: #d3d3d3;
$custom-app-color-silver: #c0c0c0;
$custom-app-color-dark-gray: #a9a9a9;
$custom-app-color-gray: #808080;
