@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/fonts.scss";

.game-area-footer {
  background-color: $custom-app-color-header-background;
  bottom: 0;
  color: $custom-app-color-gainsboro;
  font-family: $OpenSans_Light;
  font-size: 1.3vw;
  margin: 0 0 0 0;
  padding: 0.8em 0 0.8em 1em;
  position: fixed;
  width: 100%;

  a:link,
  a:visited,
  a:active {
    color: $custom-app-color-gainsboro;
  }
  a:hover {
    font-family: $OpenSans_Bold;
  }
}
