@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/fonts.scss";

#game-area-header {
  background-color: $custom-app-color-header-background;
  color: $custom-app-color-whitesmoke;
  font-family: $OpenSans_Bold;
  font-size: 1.5vw;
  padding: 0.5em 0;
  position: sticky;
  top: 0;
  text-align: center;
  width: 100%;
  vertical-align: baseline;

  ul {
    margin: 0 0 0 6vw;
  }

  a:link,
  a:visited,
  a:active {
    color: $custom-app-color-action-create;
    cursor: pointer;
    display: inline;
    font-family: $OpenSans_Bold;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: justify;
    text-decoration: none;
    vertical-align: middle;
  }
}
