<div
  id="game-play-choices"
  [ngClass]="{
    'animated bounce':
      (this.currentGame?.isGameActive && this.currentGame?.isGameLoaded) || isNewRound
  }"
  [ngStyle]="{
    display:
      currentGame?.isGameActive && currentGame?.isGameLoaded ? 'block' : 'none'
  }"
>
  <img
    *ngFor="let gameChoice of gameChoices"
    class="img90"
    [ngClass]="{ 'animated bounce': this.currentGame?.isOptionClicked }"
    src="{{ gameChoice?.imgSrc }}"
    title="{{ gameChoice?.name }}"
    (click)="onButtonClickPlay(gameChoice)"
  />
  <app-game-play-round-winner
    [currentGame]="currentGame"
    [currentRound]="currentGame?.rounds[currentGame?.rounds?.length - 1]"
  ></app-game-play-round-winner>
  <app-game-play-results [currentGame]="currentGame"></app-game-play-results>
</div>
