@import "./../../../../../assets/scss/colors.scss";
@import "./../../../../../assets/scss/fonts.scss";

#game-play-choices {
  margin: 0 0 0 0;
  padding: 0.2em;
  text-align: center;
  top: 0vh;

  img {
    cursor: pointer;
    width: 5vw;
  }
}
