@import "./../../../assets/scss/colors.scss";
@import "./../../../assets/scss/fonts.scss";

#game-area {
  font-size: 2vw;
  flex: 1;
  top: 0vh;

  a:link,
  a:visited,
  a:active {
    background-color: $custom-app-color-action-assign;
    border: $custom-app-color-action-create;
    border-radius: 10em;
    color: $custom-app-color-action-create;
    font-family: $OpenSans_Bold;
    margin: 0 0 0 0;
    padding: 0.75em 2em 0.75em 2em;
  }
  a:hover {
    color: $custom-app-color-action-assign;
    background-color: $custom-app-color-action-create;
  }
}
